body {
    background-color: #eee;
    font-family: sans-serif;
}

div {
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 800px;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding: 1px 15px 10px 15px;
}

.btn {
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}

.btn-success {
    background-color: #0b3;
    color: white;
}

.btn-warning {
    background-color: #fa5;
}

.btn-danger {
    background-color: #d22;
    color: white;
}

input {
    width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

.list {
    list-style-type: none;
    padding-left: 0px;
}

.list-item {
    margin: 4px 0px;
}

.flex-thing {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-parent {
    display: -webkit-flex;
    display: flex;
}

.right {
    position: relative;
    float: right;
}
