{% extends 'layout.html' %}

{% block body %}
    <div>
        <h1>Todos</h1>
        <ul class="list">
            {% for todo in todos %}
            <li class="list-item flex-parent">
                <div class="flex-thing">
                    {{todo}}
                </div>
                <div class="">
                    <form style="display:inline" action="/done" method="post">
                        <button class="btn btn-success" name="button">Done</button>
                        <input type="text" name="name" value="{{ todo }}" hidden>
                    </form>
                    <form style="display:inline" action="/edit" method="post">
                        <button class="btn btn-warning" name="button">Edit</button>
                        <input type="text" name="name" value="{{ todo }}" hidden>
                    </form>
                    <form style="display:inline" action="/delete" method="post">
                        <button class="btn btn-danger" name="button">Delete</button>
                        <input type="text" name="name" value="{{ todo }}" hidden>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <form class="flex-parent" action="/todos" method="post">
        <div class="form-group">
            <div class="flex-thing">
                <label for="new-name">Enter a new todo item</label>
                <input autocomplete="off" class="form-control" type="text" name="new-name" value="{{text}}">
            </div>
        </div>
        <button class="btn btn-primary" name="button">Submit</button>
    </form>
    <div>
        <h1>Finished</h1>
        <ul class="list">
            {% for todo in done %}
            <li class="list-item flex-parent">
                <div class="flex-thing">
                    {{todo}}
                </div>
                <form action="/delete_done" method="post">
                    <button class="btn btn-danger" name="button">Delete</button>
                    <input type="text" name="name" value="{{ todo }}" hidden>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
