{% extends 'layout.html' %}

{% block body %}
    <div>
        <div class="heading">
            <h1>Todo List</h1>
        </div>
        <p class="subheading">To-do:</p>
        {% if todos %}
        <ul class="list">
            {% for todo in todos %}
            <li class="list-item flex-parent">
                <div class="flex-thing">
                    <form style="display:inline" action="/done" method="post">
                        <button class="icon-button" name="button">
                            <i class="material-icons">done</i>
                        </button>
                        <input type="text" name="name" value="{{ todo }}" hidden>
                    </form>
                    {{todo}}
                </div>
                <div>
                    <form style="display:inline" action="/edit" method="post">
                        <button class="icon-button" name="button">
                            <i class="material-icons">create</i></button>
                        <input type="text" name="name" value="{{ todo }}" hidden>
                    </form>
                    <form style="display:inline" action="/delete" method="post">
                        <button class="icon-button" name="button">
                            <i class="material-icons">delete</i></button>
                        <input type="text" name="name" value="{{ todo }}" hidden>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="filler">Nothing to be done.</p>
        {% endif %}
    </div>
    <form class="flex-parent" action="/todos" method="post">
        <input autocomplete="off" class="text-entry" type="text"
            placeholder="Add a new to-do item" name="new-name"
            value="{{text}}">
        <button class="btn btn-primary" name="button" hidden>Submit</button>
    </form>
    <div>
        <p class="subheading">Finished:</p>
        {% if done %}
        <ul class="list">
            {% for todo in done %}
            <li class="list-item flex-parent">
                <div class="flex-thing">
                    <i style="color: green" class="material-icons">done</i>
                    {{todo}}
                </div>
                <form action="/delete_done" method="post">
                    <button class="icon-button" name="button">
                        <i class="material-icons">delete</i></button>
                    <input type="text" name="name" value="{{ todo }}" hidden>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="filler">No completed tasks.</p>
        {% endif %}
    </div>
{% endblock %}
